:root {
    --background-color: #222222;
}

body {
    background-color: var(--background-color);
}

#landingscreen {
    background-color: var(--background-color);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}