:root {
    --background-color: #222222;
    --ui-primary-color: #f5f5f5;
    --ui-secondary-color: #161616;
    --ui-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    height: 100%;
}

body {
    margin: 0;

    background-color: var(--background-color);
    font-family: var(--ui-font);
}

/*  BEGIN NEW   */

.main {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.file-browser {
    display: none;
}

.project, .preview {
    width: 50%;
    overflow: hidden;
    position: relative;
    flex-grow: 1;
    min-width: 10px;
}

.editor {
    height: 100%;
}

#separator {
    cursor: col-resize;
    background-color: #aaa;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='30'><path d='M2 0 v30 M5 0 v30 M8 0 v30' fill='none' stroke='black'/></svg>");
    background-repeat: no-repeat;
    background-position: center;
    width: 10px;
    height: 100%;

    /* Prevent the browser's built-in drag from interfering */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*  END NEW   */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    opacity: 0;
}

::-webkit-scrollbar-thumb {
    background: #80808069;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: #80808042;
    background-clip: padding-box;
}

::-webkit-scrollbar-corner {
    background: #00000000;
}

#landingscreen {
    background-color: var(--background-color);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 69;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
}

#landingscreen button {
    background-color: var(--ui-secondary-color);
    color: var(--ui-primary-color);
    padding: 10px;
    font-size: 36px;
    font-family: var(--ui-font);
    border: 3px outset var(--ui-secondary-color);
}

#landingscreen button:active {
    border-style: inset;
}

#menubutton, #publishbutton, #htmlbuilderlink {
    background-color: var(--ui-secondary-color);
    color: var(--ui-primary-color);
    font-family: var(--ui-font);
    border: 3px outset var(--ui-secondary-color);
}

#menubutton:active, #publishbutton:active, #htmlbuilderlink:active {
    border-style: inset;
}

.sectiontable {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    table-layout: fixed;
}

#leftsection {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
}

#texteditor {
    width: 100%;
    height: 100%;
    resize: none;
    background-color: var(--ui-secondary-color);
    color: var(--ui-primary-color);
    white-space: nowrap;
    border-width: 0;
}

.nopointer {
    pointer-events: none;
}

input:focus, textarea:focus, select:focus, button:focus {
    outline: none!important;
}

#rightsection {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
}

#pagepreview {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 0.3px var(--ui-primary-color) solid;
    box-sizing: border-box;
}

#browsertopbar {
    width: 100%;
    box-sizing: border-box;
}

#addressbar {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--ui-secondary-color);
    color: var(--ui-primary-color);
    font-family: var(--ui-font);
    border: 3px inset var(--ui-secondary-color);
}

#reloadbutton, #savebutton, #devtoolsbutton, #filemanagerbutton, #openexternalbutton {
    background-color: var(--ui-secondary-color);
    color: var(--ui-primary-color);
    user-select: none;
    font-family: var(--ui-font);
    border: 3px outset var(--ui-secondary-color);
}

#reloadbutton:active, #savebutton:active, #devtoolsbutton:active, #filemanagerbutton:active, #openexternalbutton:active {
    border-style: inset;
}

#fileselect {
    background-color: var(--ui-secondary-color);
    color: var(--ui-primary-color);
    font-family: var(--ui-font);
}

#cdm {
    height: 100%;
    width: 100%;
    position: relative;
}

#cdm .CodeMirror {
    height: 100%;
    width: 100%;
}