:root {
    --background-color: #222222;
}

body {
    background-color: var(--background-color);
}

#landingscreen {
    background-color: var(--background-color);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 69;
    top: 0;
    left: 0;
}

#leftsection {
    width: 50vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}

#texteditor {
    width: 100%;
    height: 90%;
}